.mt-1 {
  margin-top: 1em;
}

.my-1 {
  margin-bottom: 1em;
  margin-top: 1em;
}

.development-badge {
  background-color: yellow;
  border: 1px solid black;
  padding: 1px;
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 11px;
}
