.lists-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 1em 55px 1em;
  overflow-x: auto;
}

.list {
  padding: 0.25em 0 !important;
}
