.settingsModal {
  align-items: flex-end !important;
}

.settingsModalContainer {
  margin-bottom: 50px;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px 10px 0 0;
}

.footer {
  background-color: #edebe9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  box-shadow: 0 -4px 7px 0 rgba(129,137,169,.2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.settingsButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.settingsButton:hover {
  background-color: lightgrey;
}
